{% extends 'index.html' %}
{% load staticfiles %}

{% block titulo %}
Crear Evento - Que Pintó? 
{% endblock titulo %}

{% block contenido %}

<div class="dash-content section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-8 offset-md-2 text-center">
                    <h2 class="section-title v1"> Crear Evento</h2>
                </div>
                <div class="db-add-list-wrap">
                    
                    <div class="db-add-listing">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Nombre del Evento</label>
                                    <input type="text" class="form-control filter-input" placeholder="...">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Organizador</label>
                                    <input type="text" class="form-control filter-input" placeholder="...">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Categoria</label>
                                    <div class="nice-select filter-input" tabindex="0"><span class="current">Selecciona Categoria</span>
                                        <ul class="list">
                                            <li class="option selected focus">Teatro</li>
                                            <li class="option">Restaurant</li>
                                            <li class="option">Festival</li>
                                            <li class="option">Fiesta</li>
                                            <li class="option">Concierto</li>
                                            <li class="option">Cine</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <form>
                                    <div class="form-group">
                                        <label for="list_info">Descripción</label>
                                        <textarea class="form-control" id="list_info" rows="4" placeholder="Agregue Descripción...."></textarea>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="db-add-list-wrap">
                    <div class="act-title">
                        <h5><i class="ion-image"></i> Galeria :</h5>
                    </div>
                    <div class="db-add-listing">
                        <div class="form-group">
                            <form class="photo-upload">
                                <div class="form-group">
                                    <div class="add-listing__input-file-box">
                                        <input class="add-listing__input-file" type="file" name="file" id="file">
                                        <div class="add-listing__input-file-wrap">
                                            <i class="ion-ios-cloud-upload"></i>
                                            <p>Click aqui para subir tus imagenes</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="add-btn">
                            <a href="#" class="btn v8 mar-top-20">Agregar Imagenes</a>
                        </div>
                    </div>

                </div>
                <div class="db-add-list-wrap">
                    <div class="act-title">
                        <h5><i class="ion-ios-location"></i> Ubícacion del evento :</h5>
                    </div>
                    <div class="db-add-listing">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Ciudad</label>
                                    <input type="text" class="form-control filter-input" placeholder="Ej. Punta del Este">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Departamento</label>
                                    <input type="text" class="form-control filter-input" placeholder="Ej. Maldonado">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Pais</label>
                                    <input type="text" class="form-control filter-input" placeholder="Ej. Uruguay">
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Longitud</label>
                                    <input type="text" class="form-control filter-input" placeholder="Longitud en Mapa">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Latitud </label>
                                    <input type="text" class="form-control filter-input" placeholder="Latitud en Mapa">
                                </div>
                            </div>
                            <div class="col-md-12 no-padding">
                                <div id="map"></div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="db-add-list-wrap">
                    <div class="act-title">
                        <h5><i class="ion-clock"></i> Evento Fecha :</h5>
                    </div>
                    <div class="db-add-listing">
                        <div class="row mar-bot-30">
                            <div class="col-sm-3 col-12">
                                <div id="datepicker-from" class="input-group date" data-date-format="dd-mm-yyyy">
                                    <input class="form-control" type="text" placeholder="Fecha Inicio">
                                    <span class="input-group-addon"><i class="icofont-ui-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-12">
                                <div class="nice-select filter-input mt-0" tabindex="0"><span class="current">Hora de Inicio</span>
                                    <ul class="list">
                                        <li class="option selected focus">7.00 am</li>
                                        <li class="option">8.00 am</li>
                                        <li class="option">9.00 am</li>
                                        <li class="option">10.00 am</li>
                                        <li class="option">11.00 am</li>
                                        <li class="option">12.00 am</li>
                                        <li class="option">1.00 pm</li>
                                        <li class="option">2.00 pm</li>
                                        <li class="option">3.00 pm</li>
                                        <li class="option">4.00 pm</li>
                                        <li class="option">5.00 pm</li>
                                        <li class="option">6.00 pm</li>
                                        <li class="option">7.00 pm</li>
                                        <li class="option">8.00 pm</li>
                                        <li class="option">9.00 pm</li>
                                        <li class="option">10.00 pm</li>
                                        <li class="option">11.00 pm</li>
                                        <li class="option">12.00 pm</li>
                                        <li class="option">00.00 am</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-3 col-12">
                                <div id="datepicker-from" class="input-group date" data-date-format="dd-mm-yyyy">
                                    <input class="form-control" type="text" placeholder="Fecha Finalización">
                                    <span class="input-group-addon"><i class="icofont-ui-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-12">
                                <div class="nice-select filter-input mt-0" tabindex="0"><span class="current">Hora Finalización</span>
                                    <ul class="list">
                                        <li class="option selected focus">7.00 am</li>
                                        <li class="option">8.00 am</li>
                                        <li class="option">9.00 am</li>
                                        <li class="option">10.00 am</li>
                                        <li class="option">11.00 am</li>
                                        <li class="option">12.00 am</li>
                                        <li class="option">1.00 pm</li>
                                        <li class="option">2.00 pm</li>
                                        <li class="option">3.00 pm</li>
                                        <li class="option">4.00 pm</li>
                                        <li class="option">5.00 pm</li>
                                        <li class="option">6.00 pm</li>
                                        <li class="option">7.00 pm</li>
                                        <li class="option">8.00 pm</li>
                                        <li class="option">9.00 pm</li>
                                        <li class="option">10.00 pm</li>
                                        <li class="option">11.00 pm</li>
                                        <li class="option">12.00 pm</li>
                                        <li class="option">00.00 am</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="db-add-list-wrap">
                    <div class="db-add-listing">
                        <div class="row">
                            <div class="col-md-12 text-right sm-left">
                                <button class="btn v8" type="submit">Volver</button>
                                <button class="btn v8" type="submit">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

{% endblock contenido %}