<!DOCTYPE html>
<html dir="ltr" lang="es">
    <head>
        <!-- Metas -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="GameOfCode" />
        <!-- Links -->
        <link rel="icon" type="image/png" href="#" />
        <!-- google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
        <!-- Plugins CSS -->
        <link href="css/plugin.css" rel="stylesheet" />
        <!-- style CSS -->
        <link href="css/style.css" rel="stylesheet" />
        <link href="css/dashboard.css" rel="stylesheet" />
        <!-- fontawesome CSS -->
        <link href="css/all.min.css" rel="stylesheet" />
        <!--color switcher css-->
        <link rel="stylesheet" href="css/switcher/skin-red.css" media="screen" id="style-colors" />
        <!-- Document Title -->
        <title>Que Pintó? - A donde vamos hoy?</title>
    </head>

    <body>
        <div class="preloader js-preloader">
            <div class="dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
        <div class="page-wrapper">
            <header class="transparent scroll-hide">
                <div class="site-navbar-wrap v2">
                    <div class="container">
                        <div class="site-navbar">
                            <div class="row align-items-center">
                                <div class="col-md-4 col-6">
                                    <a class="navbar-brand" href="#"><img src="images/logo-red.png" alt="logo" class="img-fluid"></a>
                                </div>
                                <div class="col-md-8 col-6">
                                    <nav class="site-navigation float-right">
                                        <div class="container">
                                            <ul class="site-menu js-clone-nav d-none d-lg-block">

                                                <li><a href="index.html" > Home </a> </li>
                                                <li><a href="favoritos.html" ><i class="icofont-heart"></i> Mis Favoritos </a> </li>
                                                <li class="d-lg-none"><a class="btn v1" href="login.html"><i class="icofont-login"></i> Login </a></li>
                                            </ul>
                                        </div>
                                    </nav>
                                    <div class="d-lg-none sm-right">
                                        <a href="#" class="mobile-bar js-menu-toggle">
                                            <span class="ion-android-menu"></span>
                                        </a>
                                    </div>
                                    <div class="add-list float-right">
                                        <a class="btn v8" href="login.html"><i class="icofont-login"></i> Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="site-mobile-menu">
                            <div class="site-mobile-menu-header">
                                <div class="site-mobile-menu-close  js-menu-toggle">
                                    <span class="ion-ios-close-empty"></span>
                                </div>
                            </div>
                            <div class="site-mobile-menu-body"></div>
                        </div>
                    </div>
                </div>
            </header>


            <div class="filter-wrapper style1 section-padding-results">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="col-md-8 offset-md-2 text-center">
                                <h2 class="section-title v1 mb-0"><i class="icofont-heart"></i> Mis Favoritos</h2>
                            </div>
                            <div class="row pad-tb-50 align-items-center">
                                <div class="col-lg-8">
                                    <div class="item-view-mode res-box">
                                        <!-- item-filter-list start -->
                                        <ul class="nav item-filter-list" role="tablist">
                                            <li><a data-toggle="tab" href="#grid-view"><i class="ion-grid"></i></a></li>
                                            <li><a class="active" data-toggle="tab" href="#list-view"><i class="ion-ios-list"></i></a></li>
                                        </ul>
                                        <!-- item-filter-list end -->
                                    </div>
                                </div>

                                <div class="col-lg-4 col-sm-8 col-12">
                                    <div class="item-element res-box  text-right xs-left">
                                        <p>Tenes <span> X </span> Favoritos</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item-wrapper">
                                <div class="tab-content">
                                    <!--<div id="grid-view" class="tab-pane product-grid">
<div class="row">
<div class="col-xl-4 col-lg-6 col-md-12">
<div class="trending-place-item">
<div class="trending-img">
<img src="images/category/places/place-1.jpg" alt="#">
<span class="trending-rating-green">7</span>
<span class="save-btn"><i class="icofont-heart"></i></span>
</div>
<div class="trending-title-box">
<h4><a href="single-listing-one.html">Four Seasons Resort</a></h4>
<div class="customer-review">
<div class="rating-summary float-left">
<div class="rating-result" title="60%">
<ul class="product-rating">
<li><i class="ion-android-star"></i></li>
<li><i class="ion-android-star"></i></li>
<li><i class="ion-android-star"></i></li>
<li><i class="ion-android-star-half"></i></li>
<li><i class="ion-android-star-half"></i></li>
</ul>
</div>
</div>
<div class="review-summury float-right">
<p><a href="#">3 Reviews</a></p>
</div>
</div>
<ul class="trending-address">
<li><i class="ion-ios-location"></i>
<p>4210 Khale Street,Florence,USA</p>
</li>
<li><i class="ion-ios-telephone"></i>
<p>+843-600-2040</p>
</li>
<li><i class="ion-android-globe"></i>
<p>www.laresorta.com</p>
</li>
</ul>
<div class="trending-bottom mar-top-15 pad-bot-30">
<div class="trend-left float-left">
<span class="round-bg pink"><i class="icofont-hotel"></i></span>
<p><a href="#">Hotel</a></p>

</div>
<div class="trend-right float-right">
<div class="trend-open"><i class="ion-clock"></i>
Open <p>till 11.00pm</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>-->
                                    <div id="list-view" class="tab-pane active product-list">
                                        <div class="row trending-place-item">
                                            <div class="col-md-5 no-pad-lr">
                                                <div class="trending-img">
                                                    <img src="images/category/places/place-1.jpg" alt="#">
                                                </div>
                                            </div>
                                            <div class="col-md-7 no-pad-lr">
                                                <div class="trending-title-box">
                                                    <h4><a href="ficha.html">Nombre del Evento</a></h4>
                                                    <div class="customer-review">
                                                        <div class="rating-summary float-left">
                                                            <div class="rating-result" title="60%">
                                                                <ul class="product-rating">
                                                                    <li><i class="ion-ios-location red"></i> Ubicación </li>
                                                                    <li><i class="ion-android-star"></i></li>
                                                                    <li><i class="ion-android-star"></i></li>
                                                                    <li><i class="ion-android-star"></i></li>
                                                                    <li><i class="ion-android-star"></i></li>
                                                                    <li><i class="ion-android-star"></i></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="review-summury float-right">
                                                            <p><a class="btn v12" href="favoritos.html"><i class="icofont-heart"></i> Agregar a Favoritos</a></p>
                                                        </div>
                                                    </div>

                                                    <p class="text-event">Lore Ipsum Dolor Amet Lore Ipsum Dolor Amet Lore Ipsum Dolor Amet Lore Ipsum Dolor Amet Lore Ipsum Dolor Amet Lore Ipsum Dolor Amet Lore Ipsum Dolor Amet Lore Ipsum Dolor Amet Lore Ipsum Dolor Amet Lore Ipsum Dolor Amet Lore Ipsum Dolor Amet Lore Ipsum Dolor Amet</p>
                                                    <div class="trending-bottom mar-top-15 pad-bot-30">
                                                        <div class="trend-left float-left">
                                                            <span class="round-bg pink"><i class="ion-ios-location"></i></span>
                                                            <p><a href="#">Lugar del Evento</a></p>

                                                        </div>
                                                        <div class="trend-right float-right">
                                                            <a class="btn v12" href="#"><i class="icofont-trash"></i> Eliminar</a>
                                                            <a class="btn v12" href="ficha.html"> Ampliar Información</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                    <!-- paginado 
<div class="post-nav nav-res pad-top-10">
<div class="row">
<div class="col-md-8 offset-md-2  col-xs-12 ">
<div class="page-num text-center">
<ul>
<li class="active"><a href="#">1</a></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li><a href="#"><i class="ion-ios-arrow-right"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
paginado ends-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <span class="scrolltotop"><i class="ion-arrow-up-c"></i></span>
        </div>

        <div class="footer-wrapper no-pad-tb v2">
            <div class="footer-top-area">
                <div class="container">
                    <div class="row nav-folderized">
                        <div class="col-lg-12 col-md-12">
                            <div class="footer-logo text-center">
                                <a href="#"> <img src="images/logo-red.png" alt="Logo - Que Pinto?"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <p class="copy text-center">  © 2020 | Desarrollado por <strong>Game of Code</strong></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--plugin js-->
        <script src="js/plugin.js"></script>
        <!--google maps-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_8C7p0Ws2gUu7wo0b6pK9Qu7LuzX2iWY&amp;libraries=places&amp;callback=initAutocomplete"></script>
        <!--Main js-->
        <script src="js/main.js"></script>
        <!--Scripts ends-->
    </body>

</html>