{% extends 'index.html' %}
{% load static %}

{% block titulo %}
Mis Favoritos - Que Pintó?
{% endblock titulo %}

{% block contenido %}

            <div class="filter-wrapper style1 section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="col-md-8 offset-md-2 text-center">
                                <h2 class="section-title v1 mb-0"><i class="icofont-heart"></i> Mis Favoritos</h2>
                            </div>
                            <div class="row pad-tb-50 align-items-center">
                                <div class="col-lg-8">
                                    <div class="item-view-mode res-box">
                                        <!-- item-filter-list start -->
                                        <ul class="nav item-filter-list" role="tablist">
                                            <li><a data-toggle="tab" href="#grid-view"><i class="ion-grid"></i></a></li>
                                            <li><a class="active" data-toggle="tab" href="#list-view"><i class="ion-ios-list"></i></a></li>
                                        </ul>
                                        <!-- item-filter-list end -->
                                    </div>
                                </div>

                                <div class="col-lg-4 col-sm-8 col-12">
                                    <div class="item-element res-box  text-right xs-left">
                                        <p>Tenes <span> X </span> Favoritos</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item-wrapper">
                                <div class="tab-content">

                                    <div id="list-view" class="tab-pane active product-list">
                                        <div class="row trending-place-item">
                                            <div class="col-md-5 no-pad-lr">
                                                <div class="trending-img">
                                                    <img src="images/category/places/place-1.jpg" alt="#">
                                                </div>
                                            </div>
                                            <div class="col-md-7 no-pad-lr">
                                                <div class="trending-title-box">
                                                    <h4><a href="ficha.html">Nombre del Evento</a></h4>
                                                    <div class="customer-review">
                                                        <div class="rating-summary float-left">
                                                            <div class="rating-result" title="60%">
                                                                <ul class="product-rating">
                                                                    <li><i class="ion-ios-location red"></i> Ubicación </li>
                                                                    <li><i class="ion-android-star"></i></li>
                                                                    <li><i class="ion-android-star"></i></li>
                                                                    <li><i class="ion-android-star"></i></li>
                                                                    <li><i class="ion-android-star"></i></li>
                                                                    <li><i class="ion-android-star"></i></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="review-summury float-right">
                                                            <p><a class="btn v12" href="favoritos.html"><i class="icofont-heart"></i> Agregar a Favoritos</a></p>
                                                        </div>
                                                    </div>

                                                    <p class="text-event">Lore Ipsum Dolor Amet Lore Ipsum Dolor Amet Lore Ipsum Dolor Amet Lore Ipsum Dolor Amet Lore Ipsum Dolor Amet Lore Ipsum Dolor Amet Lore Ipsum Dolor Amet Lore Ipsum Dolor Amet Lore Ipsum Dolor Amet Lore Ipsum Dolor Amet Lore Ipsum Dolor Amet Lore Ipsum Dolor Amet</p>
                                                    <div class="trending-bottom mar-top-15 pad-bot-30">
                                                        <div class="trend-left float-left">
                                                            <span class="round-bg pink"><i class="ion-ios-location"></i></span>
                                                            <p><a href="#">Lugar del Evento</a></p>

                                                        </div>
                                                        <div class="trend-right float-right">
                                                            <a class="btn v12" href="#"><i class="icofont-trash"></i> Eliminar</a>
                                                            <a class="btn v12" href="ficha.html"> Ampliar Información</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- paginado
                                        <div class="post-nav nav-res pad-top-10">
                                        <div class="row">
                                        <div class="col-md-8 offset-md-2  col-xs-12 ">
                                        <div class="page-num text-center">
                                        <ul>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#"><i class="ion-ios-arrow-right"></i></a></li>
                                        </ul>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        paginado ends-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock contenido %}
